WebContent/wsdl/implLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.soap.com" xmlns:intf="http://service.soap.com" xmlns:tns1="http://model.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.soap.com"/>
   <element name="validadLogin">
    <complexType>
     <sequence>
      <element name="obj" type="tns1:BeanLogin"/>
     </sequence>
    </complexType>
   </element>
   <element name="validadLoginResponse">
    <complexType>
     <sequence>
      <element name="validadLoginReturn" type="tns1:BeanLogin"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BeanLogin">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:boolean"/>
     <element name="user" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validadLoginRequest">

      <wsdl:part element="impl:validadLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validadLoginResponse">

      <wsdl:part element="impl:validadLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="implLogin">

      <wsdl:operation name="validadLogin">

         <wsdl:input message="impl:validadLoginRequest" name="validadLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:validadLoginResponse" name="validadLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="implLoginSoapBinding" type="impl:implLogin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validadLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validadLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validadLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="implLoginService">

      <wsdl:port binding="impl:implLoginSoapBinding" name="implLogin">

         <wsdlsoap:address location="http://localhost:8080/AppValidarCredencialesWS/services/implLogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
